
body {background-color:black; font-family:arial;color:white;}
h1 {color:grey;font-family:verdana}

input,
output {
  vertical-align: middle;
}

.maindiv{
    align: center;

    width: 500px;
    padding: 20px;

    border-radius: 25px;
    background-color:white;
    color:black;

}

div.maindiv {
  text-align: left;
}

form label {
  display: inline-block; /* this is important */
  width: 150px;
}
