
body {background-color:black; font-family:arial;color:white;}
h1 {color:grey;font-family:verdana}

input,output{display: inline-block; vertical-align: middle;}


.maindiv{
    align: center;
    width: 500px;
    padding: 20px;

    border-radius: 25px;
    background-color:white;
    color:black;
}


/* Use <table> to position <div> elements to "center" of page, 
while keeping each element left-aligned with each other.*/
.maindiv table{
    position: relative;
    left: 15%;
}

/* Allows resulting <span> element to be aligned with <div> elements */
.maindiv span2{
  position: relative;
  left: 15%;
}

/* Adds spacing in between each <table> element */
.maindiv tr{
    line-height: 1.75;
}
