
body {background-color:black; font-family:arial;color:white;}
h1 {color:grey;font-family:verdana}

input,
output {
  vertical-align: middle;
}


.maindiv{
    align: center;
    width: 500px;
    padding: 20px;

    border-radius: 25px;
    background-color:white;
    color:black;
}


/* Positions <p> elements to "center" of page, 
while keeping each <p> element left-aligned with each other */
.maindiv table{
  position: relative;
  left: 15%;
}

/* Allows resulting <span> element to be aligned with <p> elements */
.maindiv span2{
  position: relative;
  left: 15%;
}

table {
  width: 150px;
}